.cabecera
{
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo
{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo img
{
    height: 80%;
}
.menu
{
    width: 30%;
    height: 100%;
}
.menu nav
{
    height:100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.menu_item
{
    font-size: 16px;
    font-weight: bold;
    color: #dd9933;
}
.chat
{
    color: #ffffff;
    background-color: #dd9933;
    padding: 1rem;
    border-radius: 5px;
}