.retorno
{
    width: 100%;
    height: 70vh;
    background-image: url("../img/presentacion.jpg");
    background-position: center;
    margin-top: 10px;
}
.retorno_contenedor
{
    width: 80%;
    height: 80%;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.retorno_contenedor h2
{
    font-size: 4vw;
}
.retorno_contenedor p
{
    font-size: 25px;
    line-height: 2;
}
.medios_pago
{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.medios_pago img
{
    width: 10%;
}