.servicio
{
    width: 100%;
    height: 70vh;
    background-image: url("../img/servicios.jpg");
    background-position: center;
    margin-top: 10px;
}
.servicio_cont
{
    width: 60%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.servicio_cont h3
{
    font-size: 30px;
}
.whatsapp legend
{
    margin-top: 10px;
    display: block;
}
.wp_ico img
{
    transition: transform 300ms;
}
.wp_ico img:hover
{
    transform: scale(1.1);
}